/** Monochrome **/
/*
** Colors:
** #0E0E0E (Main)
** #282828 (Accent)
** #F8F8F8 (Accent)
*/

.monochrome header menu li:hover a{
    color: #282828;
    text-decoration: underline;
}

.monochrome .masthead{
    background-image: url("../img/img-3.jpg");
}

.monochrome .masthead > div{
    background: #0E0E0E;
}

.monochrome .masthead h1{
    font-size: 4em;
    color: #F8F8F8;
    text-shadow: 4px 3px 4px rgba(14,14,14,.6);
}

.monochrome section:nth-child(2){
    padding: 5%;
}

.monochrome section:nth-child(2) > h2{
    color: #0E0E0E;
    font-size: 26px;
}

.monochrome section:nth-child(2) > h2 span{
    color: #282828;
    font-size: 32px;
}

.monochrome section:nth-child(3) > div:nth-child(1){
    background-image: url("../img/img-4.jpg");
    background-size: cover;
    background-position: right;
}

.monochrome section:nth-child(3) > div:nth-child(2){
    padding: 5%;
}

.monochrome section:nth-child(4) > div{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 350px;
}

.monochrome section:nth-child(4) h4{
    font-size: 26px;
}

.monochrome section:nth-child(4) i{
    font-size: 38px;
}

.monochrome section:nth-child(4) > div:nth-child(odd){
    background-color: #282828;
    color: #F8F8F8;
}

.monochrome section:nth-child(4) > div:nth-child(even){
    background-color: #0E0E0E;
    color: #F8F8F8;
}
